.background-fill {
    --blur-size: 6vh;
    --h1: calc(33.5% + 5%);
    --h2: calc(33.5%);
    --h3: calc(33.5% - 5%);

    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .layer,
    .layer .mask {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .content.layer {
        display: flex;
        flex-direction: column;
        place-items: center;
        place-content: center;
    }

    .effects.layer {
        backdrop-filter: brightness(95%);
        background-color: var(--bg-solid-color);
    }

    .blur.layer {
        filter: blur(var(--blur-size));
        width: calc(100% + var(--blur-size) * 4);
        left: calc(var(--blur-size) * -2);
    }

    .blur.layer > div,
    .gradient.layer > div {
        position: relative;
    }
    .strip-1 {
        background-color: var(--bg-color-1);
        height: var(--h1);
    }
    .strip-1 .mask {
        background-color: var(--bg-color-2);
    }
    .strip-2 {
        background-color: var(--bg-color-2);
        height: var(--h2);
    }
    .strip-2 .mask {
        background-color: var(--bg-color-3);
    }
    .strip-3 {
        background-color: var(--bg-color-3);
        height: var(--h3);
    }
    .strip-3 .mask {
        background-color: var(--bg-color-4);
    }

    .mask {
        mask-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.98));
    }
    .blur.layer *,
    .gradient.layer * {
        transition-property: background-color;
        transition-duration: 0.35s;
    }
}
