.date-info {
    --date-color: var(--color, currentColor);
    --date-size: max(2vmin, 1.65rem);
    --gap: 0.5em;

    font-family: "Work Sans", WorkSansEmbedded, "Segoe UI", Segoe, sans-serif;
    font-size: var(--date-size);
    letter-spacing: 0.05em;
    margin: calc(var(--date-size) + 1.5vmin) 0;
    margin-bottom: 5em;
    transform: scaleX(0.98);
    opacity: 0.75;

    .date-long,
    .date-short {
        color: var(--date-color);
        font-weight: 200;
        text-align: center;
        height: 0;
        overflow: visible;
    }

    /* numbers style */
    em {
        font-size: 125%;
        font-style: normal;
        line-height: 100%;
        font-weight: 100;
        vertical-align: -0.065em;
    }
    .date-short {
        text-transform: uppercase;
        letter-spacing: 0.065em;
    }

    &[class*="locale-ja-"],
    &[class*="locale-zh-"],
    &.locale-ja-JP,
    &.locale-zh-CN {
        em {
            font-size: 165%;
            font-weight: 200;
            margin-right: calc(var(--gap) * -0.5);
        }
    }
    &[class*="locale-ru-"],
    &.locale-ru-RU {
        text-transform: capitalize;
        font-family: var(--typeface);
        em {
            font-weight: 200;
            font-size: inherit;
        }
    }
    &[class*="locale-de-"],
    &[class*="locale-da-"],
    &.locale-de-DE,
    &.locale-da-DK {
        em {
            margin-right: calc(var(--gap) * -1);
        }
    }
    &.locale-th-TH {
        em {
            font-family: var(--typeface);
            font-size: 115%;
            font-weight: normal;
        }
    }
}
