.date-info {
    --date-info-color: var(--color, rgba(150, 250, 220, 1));
    --size: calc(1.5rem * var(--scale));
    font-family: "Work Sans", WorkSansEmbedded, "Segoe UI", Segoe, sans-serif;
    font-size: var(--size);

    color: var(--date-info-color);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.035rem;
    opacity: 0.6;
    margin-top: calc(var(--size) + 1.5vmin);
}

.date-info .weekday,
.date-info .month {
    font-weight: 200;
}

.date-info .day {
    font-size: 135%;
    line-height: 100%;
    font-weight: 100;
}
