.checkbox {
    --s-1px: 0.0625rem;
    --s-2px: 0.125rem;
    --s-3px: 0.1875rem;
    --s-4px: 0.25rem;
    --s-6px: 0.375rem;

    --c-accent: var(--c-text, currentColor);
    --c-border: color-mix(in srgb, var(--c-accent), transparent 76%);
    --c-border-focused: var(--c-accent);
    --padding: var(var(--padding), 0.5rem); /* 8px */

    --size: calc(var(--s-1px) * 22);
    --checkmark-thickness: var(--s-2px);
    --checkmark-shift: var(--s-2px);

    display: flex;
    flex-direction: row;
    padding-block: var(--s-4px);

    .checked-indicator {
        --c-checkmark: var(--c-border-focused);

        width: var(--size);
        height: var(--size);

        border-radius: var(--radius);
        background-color: transparent;
        outline: var(--checkmark-thickness) solid var(--c-border);
        position: relative;

        &::after {
            content: "";
            border-bottom: var(--checkmark-thickness) solid var(--c-checkmark);
            border-left: var(--checkmark-thickness) solid var(--c-checkmark);
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 50%;
            transform: rotate(-45deg);
            left: var(--checkmark-shift);
            top: calc(var(--s-2px) * -1);
        }
        &,
        &::after {
            transition-property: opacity, outline-color;
            transition-duration: var(--duration, 0.2s);
        }
    }

    &.checked {
        .checked-indicator {
            &::after {
                opacity: 1;
            }
        }
    }

    &.focused {
        .checked-indicator {
            outline-color: var(--c-focused-box);
        }
    }

    &,
    & label {
        cursor: pointer;
    }
    & label {
        user-select: none;
        margin-inline-start: calc(var(--checkmark-shift) * 4);
    }
}

.visually-hidden {
    border: none;
    display: table-cell;
    float: left;
    height: 1px;
    width: 1px;
    max-width: 1px;
    min-width: 1px;
    margin: -0.5em -1px -0.5em 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
}
