.react-aria-ColorSlider {
    display: grid;
    grid-template-areas:
        "label output"
        "track track";
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    max-width: 300px;

    .react-aria-SliderTrack {
        grid-area: track;
        border-radius: calc(var(--radius) + 0.125rem);
    }

    &[data-orientation="horizontal"] {
        .react-aria-SliderTrack {
            height: 0.5rem;
        }

        .react-aria-ColorThumb {
            top: 50%;
        }
    }
}

.react-aria-ColorThumb {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-sizing: border-box;

    &[data-focus-visible] {
        width: 24px;
        height: 24px;
    }
}
