.text-editor {
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    > *:empty {
        display: none;
    }

    textarea {
        background-color: transparent;
        border-color: var(--primary-color);
        border-radius: var(--radius);
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: calc(var(--padding) * 0.5) var(--padding);
    }
}
