.text-editor {
    --c-border: color-mix(in srgb, transparent, var(--c-text) 25%);
    --c-fill: color-mix(in srgb, var(--c-text), transparent 92%);

    display: flex;
    flex-direction: column;
    gap: var(--padding);

    > *:empty {
        display: none;
    }

    .wrapper {
        overflow: hidden;
        _border: var(--s-1px) solid var(--c-border);
        border-radius: var(--radius);
    }

    textarea {
        background-color: var(--c-fill);
        border: none;
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: calc(var(--padding) * 0.5) var(--padding);

        &:focus-visible {
            background-color: transparent;
            outline-style: none;
        }
    }
}
