.clock {
    --c-clock: var(--color, currentColor);
    --clock-font-size: 1rem;
    --clock-frame-offset: calc(var(--clock-font-size) * -2.5);
    --clock-frame-opacity: 0.1;
    --clock-glow-offset: calc(var(--clock-font-size) * -1);
    --clock-gap: calc(var(--thickness, 0.75em) * 0.5 + 0.5em);

    --blur-size: calc(var(--s-1px) * 0.65);
    --glow-size: 3em;
    --glow-opacity: 100%;
    --c-glow: color-mix(
        in srgb,
        transparent,
        var(--c-clock) var(--glow-opacity)
    );
    --c-glow-10: color-mix(in srgb, transparent, var(--c-glow) 10%);
    --c-glow-25: color-mix(in srgb, transparent, var(--c-glow) 25%);
    --c-glow-33: color-mix(in srgb, transparent, var(--c-glow) 33%);
    --c-glow-50: color-mix(in srgb, transparent, var(--c-glow) 50%);
    --c-glow-75: color-mix(in srgb, transparent, var(--c-glow) 75%);

    color: var(--c-clock);
    display: flex;
    font-size: var(--clock-font-size);
    gap: var(--clock-gap);
    margin-bottom: calc(2 * var(--clock-gap));
    position: relative;
    transform: rotate3d(1, -1, 0, -2deg) rotate3d(-1, 1, 0, 16deg)
        rotate3d(0, 0, 1, 0.25deg);

    .clock-frame {
        border: var(--s-1px) solid var(--c-clock);
        border-radius: calc(-1 * var(--clock-frame-offset) + 0.5em);
        opacity: var(--clock-frame-opacity, 0.2);
        position: absolute;
        top: calc(var(--clock-frame-offset) * 0.92);
        bottom: calc(var(--clock-frame-offset) * 0.92);
        left: var(--clock-frame-offset);
        right: var(--clock-frame-offset);

        transition-property: all;
        transition-duration: var(--duration, 1s);
    }

    .clock-glow {
        --g-1: radial-gradient(
            circle at 25% 50%,
            var(--c-clock) 0%,
            transparent 25%
        );
        --g-2: radial-gradient(
            circle at 75% 50%,
            var(--c-clock) 0%,
            transparent 25%
        );
        background: var(--g-1), var(--g-2);
        filter: blur(calc(var(--glow-size) * 2 + var(--length)));
        opacity: calc(var(--glow-opacity, 1) * 0.65);
        overflow: visible;
        position: absolute;
        top: calc(var(--clock-glow-offset) * 0.92);
        bottom: calc(var(--clock-glow-offset) * 0.92);
        left: var(--clock-glow-offset);
        right: var(--clock-glow-offset);

        transition-property: all;
        transition-duration: var(--duration, 0.2s);
    }

    .digit {
        filter: drop-shadow(0 0 calc(var(--glow-size) / 2) var(--c-glow-25))
            blur(var(--blur-size));
    }

    .digit.colon {
        margin-inline: calc(var(--thickness) * -1 + 0.65em);

        &.blinking {
            filter: drop-shadow(0 0 calc(var(--glow-size) * 2) var(--c-glow-50))
                blur(var(--blur-size));
        }
    }

    /* clock type change animation stages */
    /* mounted ... ani-width ... ani-opacity ... finished */
    .innout.animate-ampm {
        display: flex; /* correct vertical alignment */

        & {
            transition-property: opacity, margin;
            transition-duration:
                var(--duration-ani-opacity, 0.2s),
                var(--duration-ani-width, 0.2s);
        }
        & .ampm {
            transition-property: margin;
            transition-duration: var(--duration-ani-width, 0.2s);
        }

        /* width animation */
        &.mounted .ampm,
        &.ani-width.out .ampm {
            margin-right: calc(var(--digit-width) * -1);
        }
        &.ani-width.in .ampm,
        &.ani-opacity .ampm,
        &.finished .ampm {
            margin-right: calc(var(--digit-width) / -3);
        }

        /* gap animation */
        &.mounted,
        &.ani-width.out {
            margin-left: calc(var(--clock-gap) * -1);
        }
        &.ani-width.in,
        &.ani-opacity,
        &.finished {
            margin-left: calc(var(--clock-gap) / -3);
        }

        /* opacity animation */
        &.mounted,
        &.ani-width,
        &.ani-opacity.out {
            opacity: 0;
        }
        &.finished,
        &.ani-opacity.in {
            opacity: 1;
        }
    }
}

/* chrome transition issue? works fine in firefox */
.digit.digit.digit.digit,
.digit.digit.digit.digit * {
    --transition-duration: var(--duration, 0.2s);

    transition-duration: var(--duration, 0.2s);
    transition-property: all;
}
