.clock {
    --clock-font-size: calc(2.5rem * var(--scale));
    --clock-frame-offset: calc(var(--clock-font-size) * -1);
    --glow-size: 2em;

    color: var(--clock-color);
    display: flex;
    font-size: var(--clock-font-size);
    gap: var(--clock-gap);
    margin-bottom: calc(-1 * var(--clock-frame-offset));
    position: relative;
    transform: skew(-2deg, -1deg);

    & .clock-frame {
        border: 1px solid var(--clock-color);
        border-radius: calc(-1 * var(--clock-frame-offset) + 0.5rem);
        opacity: var(--clock-frame-opacity, 0.2);
        position: absolute;
        top: calc(var(--clock-frame-offset) * 0.92);
        bottom: calc(var(--clock-frame-offset) * 0.92);
        left: var(--clock-frame-offset);
        right: var(--clock-frame-offset);
        transition: all 1s;
    }
    & .digit {
        filter: drop-shadow(0 0 calc(var(--glow-size) * 1) var(--clock-color))
            drop-shadow(0 0 calc(var(--glow-size) * 2) var(--clock-color))
            blur(0.75px);
    }
    & .digit.ampm,
    & .digit.colon {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }
    & .digit.ampm {
        margin-right: -1.5rem;
    }
}
