.radio {
    --s-1px: 0.0625rem;
    --s-2px: 0.125rem;
    --s-3px: 0.1875rem;
    --s-4px: 0.25rem;
    --s-6px: 0.375rem;

    --rad: calc(var(--radius) + var(--s-1px));
    --padding: var(var(--padding), 0.5rem); /* 8px */

    .fieldset-style-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
    }

    fieldset& {
        border: unset;
        margin: unset;
        padding: unset;

        legend {
            padding: unset;
            cursor: default;
        }
    }

    .radio-options {
        --accent-color: var(--text-color, currentColor);
        --border-color: var(--accent-color);
        --border-width: var(--s-2px);

        --fill-color: color-mix(in srgb, var(--accent-color), transparent 90%);
        --shade-color: color-mix(in srgb, var(--accent-color), transparent 75%);
        --hover-color: color-mix(in srgb, white, transparent 96%);

        border-radius: var(--rad);
        display: flex;
        position: relative;

        .radio-button {
            flex-grow: 1;
            transition-property: background-image;
            transition-duration: var(--duration, 0.2s);
            z-index: 1;

            &:hover {
                background-image:
                    linear-gradient(
                        90deg,
                        transparent 0%,
                        transparent 5%,
                        var(--hover-color) 25%,
                        var(--hover-color) 75%,
                        transparent 95%,
                        transparent 100%
                    ),
                    linear-gradient(
                        0deg,
                        transparent 0%,
                        transparent 5%,
                        var(--hover-color) 25%,
                        var(--hover-color) 75%,
                        transparent 95%,
                        transparent 100%
                    );
            }

            &.checked:hover {
                background: none;
            }
        }

        .radio-button > label {
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            place-items: center;
            place-content: center;
            height: 100%; /* must fit into button */
            line-height: 1;
            padding: calc(var(--padding) * 1.5);
            padding-top: calc(var(--padding) * 1.5 - var(--s-1px));
            position: relative;
            user-select: none;
            z-index: 2;

            & > * {
                text-align: center;
            }
        }
        .checked.radio-button > .tooltip-anchor,
        .checked.radio-button > label {
            cursor: default;

            &:hover:before {
                opacity: 0;
            }
        }

        /* first child */
        &.checked-first .checked-indicator,
        .radio-button:nth-child(2) label {
            border-start-start-radius: var(--rad);
            border-end-start-radius: var(--rad);
        }

        /* last child */
        &.checked-last .checked-indicator,
        .radio-button:last-child label {
            border-end-end-radius: var(--rad);
            border-start-end-radius: var(--rad);
        }

        .checked-indicator {
            border-radius: var(--rad);
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 0;

            /* indicator's shape */
            &:after {
                border-radius: var(--radius);
                outline: var(--border-width) solid transparent; /* focus ring */
                box-shadow:
                    0 0 0 100vmax var(--fill-color),
                    0 0 2vmax var(--border-width) var(--shade-color);
                content: "";
                position: absolute;
                top: var(--border-width);
                left: calc(var(--checked-left) + var(--border-width));
                width: calc(var(--checked-width) - var(--border-width) * 2);
                height: calc(100% - var(--border-width) * 2);
                box-sizing: border-box;
                transition-property: left, width, border-radius, outline;
                transition-duration: var(--duration, 0.2s);
            }
        }

        &:focus-within .checked-indicator:after {
            outline: var(--border-width) solid var(--border-color); /* focus ring */
        }
    }
}

.visually-hidden {
    border: none;
    display: table-cell;
    float: left;
    height: 1px;
    width: 1px;
    max-width: 1px;
    min-width: 1px;
    margin: -0.5em -1px -0.5em 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
}
