.inline.radio {
    --accent-color: var(--primary-color, currentColor);
    --padding: 0.25rem;
    --border-width: calc(0.125rem * 0.5);

    all: unset;
    padding-top: calc(var(--padding) * 0.5);
    padding-bottom: calc(var(--padding) * 0.5);

    legend {
        padding: calc(var(--padding) * 0.5) 0;
    }
    .options {
        border-radius: calc(var(--radius) + 0.125rem * 0.5);
        border: var(--border-width) solid var(--accent-color);
        display: flex;
        position: relative;

        & .option {
            flex-grow: 1;
        }
    }
    label {
        cursor: pointer;
        display: block;
        padding: var(--padding) calc(var(--padding) * 2);
        padding-bottom: calc(var(--padding) * 1.5);
        position: relative;
        text-align: center;
        user-select: none;
        z-index: 1;
    }
    input:focus-visible + label {
        border-radius: var(--radius);
        box-shadow: 0 0 0 0.125rem var(--accent-color); /* focus ring */
    }
    .checked-indicator {
        background-color: var(--accent-color);
        opacity: 0.125;
        border-radius: calc(var(--radius) * 1);
        position: absolute;
        height: 100%;
        left: var(--caret-left);
        width: var(--caret-width);
        z-index: 0;
        pointer-events: none;
        transition-property: left, right, width;
        transition-duration: 0.2s;
    }
    input {
        /* visually hidden */
        border: none;
        display: table-cell;
        float: left;
        height: 1px;
        width: 1px;
        max-width: 1px;
        min-width: 1px;
        margin: -0.5em -1px -0.5em 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
    }
}
