.react-aria-Slider {
    --s-1px: 0.0625rem;
    --s-2px: 0.125rem;
    --s-3px: 0.1875rem;
    --s-4px: 0.25rem;

    --c-accent: var(--c-text, currentColor);
    --c-accent-88: color-mix(in srgb, var(--c-accent), transparent 88%);
    --c-accent-76: color-mix(in srgb, var(--c-accent), transparent 76%);
    --c-accent-50: color-mix(in srgb, var(--c-accent), transparent 50%);

    display: grid;
    grid-template-areas:
        "label output"
        "track track";
    grid-template-columns: 1fr auto;

    .react-aria-Label {
        grid-area: label;
        margin-bottom: calc(var(--padding) * 0.5);
    }

    .react-aria-SliderOutput {
        grid-area: output;
    }

    .react-aria-SliderTrack {
        --track-height: 1.25em;
        --track-thickness: calc(var(--s-1px) * 12);
        --c-track: color-mix(in srgb, var(--c-accent), transparent 94%);
        --c-track-filled: color-mix(in srgb, var(--c-accent), transparent 76%);
        --c-track-value: color-mix(in srgb, var(--c-accent), transparent 74%);

        grid-area: track;
        position: relative;
        cursor: pointer;

        /* track line */
        &:before {
            background-color: var(--c-track);
            content: "";
            display: block;
            opacity: 1;
            position: absolute;
        }
    }

    .react-aria-SliderThumb {
        --stroke-width: var(--s-2px);
        --thumb-size: calc(var(--track-thickness) * 2 - var(--s-2px));
        --c-thumb: color-mix(in srgb, var(--c-accent), transparent 75%);
        --dur: var(--duration, 0.2s);
        --hover-opacity: var(--dragging-thumb-hover-opacity, 1);

        border-radius: 100vmax;
        border: 0 solid transparent;
        box-sizing: border-box;
        outline: 0 solid transparent;
        opacity: var(--hover-opacity);
        width: var(--thumb-size);
        height: var(--thumb-size);

        cursor: pointer;
        forced-color-adjust: none;
        transition-property:
            border-color, border-width, outline-color, outline-width,
            background-color, opacity;
        transition-duration:
            var(--dur), calc(var(--dur) * 0.2), var(--dur),
            calc(var(--dur) * 0.2), var(--dur), var(--dur);

        /* larger hover area */
        &:after {
            --offset: calc(var(--s-4px) * -1);

            content: "";
            position: absolute;
            top: var(--offset);
            bottom: var(--offset);
            left: var(--offset);
            right: var(--offset);
        }
        &&&[data-dragging] {
            background-color: transparent;
            outline-width: var(--stroke-width);
            opacity: 0.35;
        }
        &&[data-focused],
        &&[data-focus-visible] {
            background-color: transparent;
            border-color: var(--c-accent);
            border-width: var(--stroke-width);
            outline-color: transparent;
            outline-width: 0;
            opacity: 1;

            &:hover {
                border-color: transparent;
                border-width: 0;
                outline-color: var(--c-accent);
                outline-width: var(--stroke-width);
                opacity: 1;
            }
        }
    }
    .react-aria-SliderTrack:hover .react-aria-SliderThumb {
        background-color: var(--c-thumb);
        outline-color: var(--c-thumb);
        outline-width: 0;
        opacity: var(--hover-opacity);
    }
    .react-aria-SliderTrack .react-aria-SliderThumb:hover {
        background-color: var(--c-thumb);
        outline-color: var(--c-thumb);
        outline-width: var(--stroke-width);
        opacity: var(--hover-opacity);
    }

    &[data-orientation="horizontal"] {
        flex-direction: column;
        width: 100%;

        .react-aria-SliderTrack {
            --min-filled: var(--s-2px);

            height: var(--track-height);
            width: 100%;

            /* track line */
            &:before {
                background-color: var(--c-track);
                height: var(--track-thickness);
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .react-aria-SliderTrack-gradients {
                position: absolute;
                height: var(--track-thickness);
                width: 100%;
                top: 50%;
                transform: translateY(-50%);

                &:before {
                    background-image: linear-gradient(
                        90deg,
                        var(--c-track),
                        var(--c-track-filled) calc(100% - var(--min-filled)),
                        var(--c-track-value)
                    );
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: var(--filled);
                }
                &:after {
                    background-image: linear-gradient(
                        90deg,
                        transparent,
                        transparent var(--min-filled),
                        var(--c-track) var(--min-filled),
                        var(--c-track)
                    );
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: calc(100% - var(--filled));
                    left: var(--filled);
                }
            }
        }

        .react-aria-SliderThumb {
            top: 50%;
        }
    }
}

body:has(.react-aria-SliderThumb[data-dragging]) {
    --dragging-thumb-hover-opacity: 0;
}
