.react-aria-Slider {
    --accent-color: var(--primary-color, currentColor);
    --accent-color-88: color-mix(in srgb, var(--accent-color), transparent 88%);
    --accent-color-76: color-mix(in srgb, var(--accent-color), transparent 76%);
    --accent-color-50: color-mix(in srgb, var(--accent-color), transparent 50%);

    display: grid;
    grid-template-areas:
        "label output"
        "track track";
    grid-template-columns: 1fr auto;

    .react-aria-Label {
        grid-area: label;
        margin-bottom: calc(var(--padding) * 0.5);
    }

    .react-aria-SliderOutput {
        grid-area: output;
    }

    .react-aria-SliderTrack {
        grid-area: track;
        position: relative;
        cursor: pointer;

        /* track line */
        &:before {
            content: "";
            display: block;
            position: absolute;
            background-color: var(--accent-color);
        }
    }

    .react-aria-SliderThumb {
        --thumb-size: calc(var(--s-1px) * 22); /* 20px */

        width: var(--thumb-size);
        height: var(--thumb-size);

        border-radius: var(--radius);
        background-color: transparent;
        cursor: pointer;
        forced-color-adjust: none;
        outline: var(--s-1px) solid var(--accent-color);
        transition-property: background-color, border, border-color;
        transition-duration: var(--duration, 0.2s);

        /* +2px to hover area size */
        &::after {
            content: "";
            position: absolute;
            top: calc(var(--s-2px) * -1);
            bottom: calc(var(--s-2px) * -1);
            left: calc(var(--s-2px) * -1);
            right: calc(var(--s-2px) * -1);
        }
        /* center dot */
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 1em;
            outline: var(--s-2px) solid var(--accent-color-76);
            outline-color: transparent;
        }

        &:hover {
            background-color: var(--accent-color-88);
        }
        &[data-dragging] {
            background-color: transparent;
        }
        &[data-focused],
        &[data-focus-visible] {
            outline: var(--s-2px) solid var(--accent-color);

            &::before {
                outline-color: var(--accent-color);
            }
        }
    }

    &[data-orientation="horizontal"] {
        flex-direction: column;
        width: 100%;

        .react-aria-SliderTrack {
            height: 1.25em;
            width: 100%;

            &:before {
                opacity: 0.35;
                height: 0.25em;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .react-aria-SliderThumb {
            top: 50%;
        }
    }
}
