.slide-switch {
    --s-1px: 0.0625rem;
    --s-2px: 0.125rem;
    --s-3px: 0.1875rem;
    --s-4px: 0.25rem;
    --s-6px: 0.375rem;

    --accent-color: var(--primary-color, currentColor);
    --accent-color-88: color-mix(in srgb, var(--accent-color), transparent 88%);
    --accent-color-76: color-mix(in srgb, var(--accent-color), transparent 76%);
    --options-radius: calc(var(--radius) + 0.125rem * 0.5);
    --duration: 0.2s;
    --padding: var(var(--padding), 0.5rem); /* 8px */

    .fieldset-style-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
    }

    fieldset& {
        border: unset;
        margin: unset;
        padding: unset;

        legend {
            padding: unset;
            cursor: default;
        }
    }

    .options {
        border-radius: var(--options-radius);
        display: flex;
        position: relative;

        .option {
            flex-grow: 1;
        }
        .option label {
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            place-items: center;
            place-content: center;
            height: 100%; /* fit into wrapper */
            line-height: 1;
            padding: calc(var(--padding) * 1.5);
            padding-top: calc(var(--padding) * 1.5 - var(--s-1px));
            position: relative;
            text-align: center;
            transition-property: background-color, opacity;
            transition-duration: var(--duration);
            user-select: none;
            z-index: 1;

            &:hover {
                opacity: 0.8;
            }
        }
        .checked label,
        .checked label:hover {
            opacity: 1;
        }

        /* first child */
        &.checked-first .checked-indicator,
        .option:nth-child(2) label {
            border-start-start-radius: var(--options-radius);
            border-end-start-radius: var(--options-radius);
        }

        /* last child */
        &.checked-last .checked-indicator,
        .option:last-child label {
            border-end-end-radius: var(--options-radius);
            border-start-end-radius: var(--options-radius);
        }

        .checked-indicator {
            border-radius: var(--options-radius);
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &:after {
                border-radius: var(--options-radius);
                box-shadow:
                    0 0 0 100vmax var(--accent-color-88),
                    inset 0 0 0 var(--s-1px) var(--accent-color);
                content: "";
                position: absolute;
                left: var(--checked-left);
                width: var(--checked-width);
                height: 100%;
                transition-property: left, width, border-radius;
                transition-duration: var(--duration);
            }
        }

        &:focus-within .checked-indicator:after {
            /* focus ring */
            box-shadow:
                0 0 0 100vmax var(--accent-color-88),
                inset 0 0 0 var(--s-2px) var(--accent-color);
        }
    }
}

.visually-hidden {
    border: none;
    display: table-cell;
    float: left;
    height: 1px;
    width: 1px;
    max-width: 1px;
    min-width: 1px;
    margin: -0.5em -1px -0.5em 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
}
