:root {
    --s-1px: 0.0625rem;
    --s-2px: 0.125rem;
    --s-3px: 0.1875rem;
    --s-4px: 0.25rem;
    --s-6px: 0.375rem; /* calc(var(--s-1px) * 6) */
    --s-8px: 0.5rem;
    --s-10px: 0.625rem;
    --s-12px: 0.75rem;
    --s-16px: 1rem;

    /* clock's digit color */
    --color: rgba(168, 255, 236, 1);
    --color: rgba(198, 255, 240, 1); /* overriden in settings.store.ts */

    --typeface: "Segoe UI", Tahoma, sans-serif;
    --text-color: black;
    --duration: 0.25s;
    --radius: var(--s-6px);
    --padding: var(--s-8px);
    --scrollbar-color: color-mix(in srgb, transparent, currentColor 25%);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--typeface);
    font-size: 1rem;
    color: var(--text-color);
}

body.extension-newtab {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body.extension-popup {
    width: 15rem;

    .extension-popup-only {
        display: initial;
    }
}

body.extension-options-modal {
    background-color: rgba(127, 127, 127, 0.1);

    .extension-options {
        margin-top: 1rem;
        max-width: 18rem;
    }
}

button,
input,
textarea {
    font-size: 1rem;
}

.focus-within,
.focusable,
button,
input,
textarea {
    &.focus-within:focus-within,
    &:focus-visible {
        outline-color: var(--text-color, currentColor);
        outline-style: solid;
        outline-width: var(--s-2px);
        outline-offset: calc(var(--s-1px) * -1);
        text-decoration: none;
    }
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}
.content {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    transition-property: width, height;
    transition-duration: var(--duration, 0.35s);
}
.extension-popup-only {
    display: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    outline: none;
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    outline: none;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-corner {
    border: none;
    outline: none;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    cursor: default;
}

@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color) transparent;
    }
    textarea {
        border-width: 1px;
        border-style: solid;
        border-color: currentColor;
    }
}
