:root {
    --font: "Segoe UI", Tahoma, sans-serif;
    --scale: 1; /* ~40% percent of a screen width at default zoom level 100% */
    --color: rgba(150, 250, 220, 1);
    --radius: 0.35rem;
}

html,
body {
    margin: 0;
}

body {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;

    overflow: hidden;
}

button:focus-visible {
    outline-color: var(--primary-color, currentColor);
    outline-style: solid;
    outline-width: 0.125rem;
    outline-offset: 0.25rem;
    text-decoration: none;
}
