body.extension-options-modal,
body.extension-popup {
    font-size: 0.8rem;

    button.danger {
        color: salmon;
    }
}

body.extension-options-modal {
    .extension-options {
        margin-top: 0em;
    }
}

.extension-options {
    margin: calc(var(--padding) * 1.5) calc(var(--padding) * 2);

    button,
    input,
    textarea {
        font-size: 0.8rem;
    }
}

.copy-info {
    --c-text-35: color-mix(in srgb, var(--c-text), transparent 65%);

    margin-top: calc(var(--padding) * 1.25);
    padding-bottom: calc(var(--padding) * 0.25);

    a {
        color: black;
        text-decoration-color: var(--c-text-35);
    }
}
