.settings-dropdown {
    --button-size: 2.75em;
    --icon-size: 1.35em;
    --padding: var(var(--padding), 0.5em);

    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.settings-toggle {
    position: absolute;
    right: 0;
    top: 0;

    button.button {
        background: none;
        border: none;
        border-radius: 100rem;
        cursor: pointer;
        height: var(--button-size);
        width: var(--button-size);

        display: flex;
        place-content: center;
        place-items: center;

        .icon {
            display: block;
            position: absolute;
            width: var(--icon-size);
            height: var(--icon-size);
            top: calc((var(--button-size) - var(--icon-size)) / 2);
            left: calc((var(--button-size) - var(--icon-size)) / 2);
        }

        svg {
            fill: var(--color);
            width: 100%;
            height: 100%;
        }

        .hover-layer {
            background-color: var(--color);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 100rem;
            filter: blur(0.5em);
            transition-property: opacity;
            transition-duration: var(--duration, 0.2s);
            z-index: 0;
        }

        &:hover {
            & .hover-layer {
                opacity: 0.1;
            }
        }

        &:focus-visible {
            outline-color: var(--color, currentColor);
            outline-offset: calc(var(--s-4px) * -1);
        }
    }
}
.settings-overlay {
    --o-dialog: 17.5%;
    --c-dialog: white;
    --c-dialog-fill: color-mix(
        in srgb,
        var(--c-dialog),
        transparent var(--o-dialog)
    );

    --c-1: var(--bg-color-1); /* upper strip */
    --c-2: var(--bg-color-3); /* lower strip */
    --c-grad-01: color-mix(in srgb, var(--c-1), transparent 65%);
    --c-grad-02: color-mix(in srgb, var(--c-2), transparent 65%);

    --c-grad-average: color-mix(in srgb, var(--c-1), var(--c-2) 50%);
    --c-dialog-average: color-mix(
        in srgb,
        var(--c-dialog),
        var(--c-grad-average) 35%
    );

    --shadow-border: 0 0 0.125em rgba(0, 0, 0, 0.05);
    --shadow-dark-s: 0 0.2em 2em rgba(0, 0, 0, 0.05);
    --shadow-dark-l: 0 0.6em 6em rgba(0, 0, 0, 0.05);

    --scroll-height: 75dvh;
    --scroll-gradient-size: 0dvh;

    border-radius: calc(var(--radius) * 1.5);
    box-shadow:
        var(--shadow-border), var(--shadow-dark-s), var(--shadow-dark-l);

    position: absolute;
    top: calc(var(--button-size) * 0.9);
    right: calc(var(--button-size) * 0.9);
    z-index: 1;
    overflow: hidden;
    max-height: var(--scroll-height);

    .backdrop-fill {
        position: absolute;
        width: 100%;
        height: 100%;

        isolation: isolate;
        backdrop-filter: blur(0.25em) saturate(125%);
        background-color: var(--c-dialog-fill);
        background-image: linear-gradient(
            170deg,
            var(--c-grad-01),
            var(--c-grad-02)
        );
    }
    .scroll-wrapper {
        --padding-x: calc(var(--padding) * 2);
        --padding-y: calc(var(--padding) * 1.5 + var(--radius) * 0.5);

        padding: var(--padding-y) var(--padding-x);
        box-sizing: border-box;
        max-height: var(--scroll-height);
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }
}

/* animation */
.settings-overlay {
    --translate-move:
        calc(var(--button-size) * 0.1), calc(var(--button-size) * -0.1);

    transform: scale(100%) translate(0);
    transform-origin: top right;
    transition-property: transform;
    transition-duration: var(--duration-step, 0.25s);
}

.innout {
    &.step.in {
        .settings-overlay {
            transform: scale(100%) translate(0);
        }
    }
    &.mounted.in,
    &.step.out {
        .settings-overlay {
            transform: scale(96%) translate(var(--translate-move));
        }
    }
}
