.open-settings.button {
    position: absolute;
    right: 0;
    top: 0;

    & .hover-layer {
        background-color: #fff;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 100rem;
        filter: blur(0.5rem);
        transition-property: opacity;
        transition-duration: 0.5s;
    }
    &:hover {
        & .hover-layer {
            opacity: 0.25;
        }
    }
}
