.settings {
    --primary-pre-color: color-mix(
        in srgb,
        var(--bg-color-1),
        var(--bg-color-2) 35%
    );
    --primary-color: color-mix(in srgb, var(--primary-pre-color), black 20%);
    --button-size: 2.75rem;
    --icon-size: 1.35rem;
    --padding: 0.5rem;

    position: absolute;
    right: 0;
    top: 0;

    .settings-form {
        --padding-x: calc(var(--padding) * 3);
        --padding-y: calc(var(--padding) * 2);

        margin: var(--padding-y) var(--padding-x);
        margin-bottom: calc(var(--padding-y) + 0.65rem);
    }
}

.settings.button {
    display: flex;
    place-content: center;
    place-items: center;
    border: none;
    border-radius: 100rem;
    background: none;
    cursor: pointer;
    height: var(--button-size);
    width: var(--button-size);

    position: absolute;
    right: 0;
    top: 0;

    .icon {
        display: block;
        position: absolute;
        width: var(--icon-size);
        height: var(--icon-size);
        top: calc((var(--button-size) - var(--icon-size)) / 2);
        left: calc((var(--button-size) - var(--icon-size)) / 2);
    }

    svg {
        fill: var(--color);
        width: 100%;
        height: 100%;
    }

    .hover-layer {
        background-color: var(--color);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 100rem;
        filter: blur(0.5rem);
        transition-property: opacity;
        transition-duration: 0.5s;
        z-index: 0;
    }
    &:hover {
        & .hover-layer {
            opacity: 0.1;
        }
    }
    &:focus-visible {
        outline-color: var(--color, currentColor);
        outline-offset: -0.25rem;
    }
}

.settings-overlay {
    --mix-1: rgba(255, 255, 255, 1);
    --gradient-01: color-mix(in srgb, var(--bg-color-1), var(--mix-1) 50%);
    --gradient-02: color-mix(in srgb, var(--bg-color-2), var(--mix-1) 65%);
    --mix-2: transparent;
    --gradient-11: color-mix(in srgb, var(--gradient-01), var(--mix-2) 20%);
    --gradient-12: color-mix(in srgb, var(--gradient-02), var(--mix-2) 20%);
    --shadow-border: 0 0 0.125rem rgba(0, 0, 0, 0.05);
    --shadow-dark-s: 0 0.2rem 2rem rgba(0, 0, 0, 0.05);
    --shadow-dark-l: 0 0.6rem 6rem rgba(0, 0, 0, 0.05);

    backdrop-filter: saturate(150%) blur(0.5rem);
    background: linear-gradient(-10deg, var(--gradient-12), var(--gradient-11));
    border-radius: calc(var(--radius) * 1.5);
    box-shadow: var(--shadow-border), var(--shadow-dark-s), var(--shadow-dark-l);

    position: absolute;
    top: calc(var(--button-size) * 0.9);
    right: calc(var(--button-size) * 0.9);
    font-size: 125%;
    z-index: 1;

    .inline.radio .checked-indicator {
        opacity: 0.25;
    }
    div.close {
        display: flex;
        place-content: flex-end;
        & button {
            margin-right: calc(var(--padding) * -1);
        }
    }
}

.custom-style-editor {
    margin-top: var(--padding);

    textarea {
        border-radius: var(--radius);
        box-sizing: border-box;
        display: block;
        font-size: 120%;
        width: 100%;
        margin: var(--padding) 0;
        padding: calc(var(--padding) * 0.5) var(--padding);
        scrollbar-width: thin;
        scrollbar-color: rgba(127, 127, 127, 0.5) transparent;
    }
}

.settings .hidden-in-page {
    display: none;
}

.extension-options-modal,
.extension-popup {
    .hidden-in-popup {
        display: none;
    }
}

.all-settings,
.reset-to-defaults {
    button {
        color: var(--primary-color);
        background-color: transparent;
        font-family: var(--font);
        font-size: 100%;
        border: none;
        padding: 0;
        border-radius: var(--radius);
        line-height: 100%;
        text-decoration: underline;
        text-decoration-color: color-mix(
            in srgb,
            currentColor,
            transparent 65%
        );
        text-decoration-thickness: calc(0.125rem * 0.5);
        text-underline-offset: 0.125rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}
.reset-to-defaults {
    button {
        color: salmon;
    }
}
