.settings-dropdown {
    --button-size: 2.75em;
    --icon-size: 1.35em;
    --padding: var(var(--padding), 0.5em);

    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.settings-toggle {
    position: absolute;
    right: 0;
    top: 0;

    button.button {
        background: none;
        border: none;
        border-radius: 100rem;
        cursor: pointer;
        height: var(--button-size);
        width: var(--button-size);

        display: flex;
        place-content: center;
        place-items: center;

        .icon {
            display: block;
            position: absolute;
            width: var(--icon-size);
            height: var(--icon-size);
            top: calc((var(--button-size) - var(--icon-size)) / 2);
            left: calc((var(--button-size) - var(--icon-size)) / 2);
        }

        svg {
            fill: var(--color);
            width: 100%;
            height: 100%;
        }

        .hover-layer {
            background-color: var(--color);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 100rem;
            filter: blur(0.5em);
            transition-property: opacity;
            transition-duration: var(--duration, 0.2s);
            z-index: 0;
        }

        &:hover {
            & .hover-layer {
                opacity: 0.1;
            }
        }

        &:focus-visible {
            outline-color: var(--color, currentColor);
            outline-offset: calc(var(--s-4px) * -1);
        }
    }
}
.settings-overlay {
    --c-1: var(--bg-color-1); /* upper strip */
    --c-2: var(--bg-color-3); /* lower strip */
    --mix-1: white;
    --c-grad-01: color-mix(in srgb, var(--c-1), var(--mix-1) 65%);
    --c-grad-02: color-mix(in srgb, var(--c-2), var(--mix-1) 65%);
    --mix-2: transparent;
    --c-grad-11: color-mix(in srgb, var(--c-grad-01), var(--mix-2) 17.5%);
    --c-grad-12: color-mix(in srgb, var(--c-grad-02), var(--mix-2) 17.5%);
    --shadow-border: 0 0 0.125em rgba(0, 0, 0, 0.05);
    --shadow-dark-s: 0 0.2em 2em rgba(0, 0, 0, 0.05);
    --shadow-dark-l: 0 0.6em 6em rgba(0, 0, 0, 0.05);

    --scroll-height: 75vh;
    --scroll-gradient-size: 0dvh;

    backdrop-filter: saturate(125%) blur(0.25em);
    background-image: linear-gradient(
        -10deg,
        var(--c-grad-12),
        var(--c-grad-11)
    );
    border-radius: calc(var(--radius) * 1.5);
    box-shadow: var(--shadow-border), var(--shadow-dark-s), var(--shadow-dark-l);

    position: absolute;
    top: calc(var(--button-size) * 0.9);
    right: calc(var(--button-size) * 0.9);
    z-index: 1;
    overflow: hidden;
    max-height: var(--scroll-height);

    _mask-image: linear-gradient(
        transparent 0%,
        black var(--scroll-gradient-size),
        black calc(100% - var(--scroll-gradient-size)),
        transparent 100%
    );

    .scroll-wrapper {
        --padding-x: calc(var(--padding) * 2);
        --padding-y: calc(var(--padding) * 1.5 + var(--radius) * 0.5);

        padding: var(--padding-y) var(--padding-x);
        box-sizing: border-box;
        max-height: var(--scroll-height);
        overflow-x: hidden;
        overflow-y: auto;
    }
}
