.settings-dropdown {
    --button-size: 2.75em;
    --icon-size: 1.35em;
    --padding: var(var(--padding), 0.5em);

    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}

.settings-toggle {
    position: absolute;
    right: 0;
    top: 0;

    button.button {
        background: none;
        border: none;
        border-radius: 100rem;
        cursor: pointer;
        height: var(--button-size);
        width: var(--button-size);

        display: flex;
        place-content: center;
        place-items: center;

        .icon {
            display: block;
            position: absolute;
            width: var(--icon-size);
            height: var(--icon-size);
            top: calc((var(--button-size) - var(--icon-size)) / 2);
            left: calc((var(--button-size) - var(--icon-size)) / 2);
        }

        svg {
            fill: var(--color);
            width: 100%;
            height: 100%;
        }

        .hover-layer {
            background-color: var(--color);
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 100rem;
            filter: blur(0.5em);
            transition-property: opacity;
            transition-duration: var(--duration, 0.2s);
            z-index: 0;
        }

        &:hover {
            & .hover-layer {
                opacity: 0.1;
            }
        }

        &:focus-visible {
            outline-color: var(--color, currentColor);
            outline-offset: calc(var(--s-4px) * -1);
        }
    }
}

.settings-overlay {
    --o-bg: 35%;
    --c-bg: white;
    --c-bg-fill: color-mix(in srgb, var(--c-bg), transparent var(--o-bg));
    --c-shadow: rgba(0, 0, 0, 0.05);

    --shadow-1: 0 0 0.125em;
    --shadow-2: 0 0.2em 2em;
    --shadow-3: 0 0.6em 6em;

    --scroll-height: 75dvh;
    --scroll-gradient-size: 0dvh;

    border-radius: calc(var(--radius) * 1.5);

    position: absolute;
    top: calc(var(--button-size) * 0.9);
    right: calc(var(--button-size) * 0.9);
    z-index: 1;
    overflow: hidden;
    max-height: var(--scroll-height);

    .bg-fill,
    .bg-filter {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .bg-fill {
        background-color: var(--c-bg-fill);
        background-image: linear-gradient(
            170deg,
            var(--c-grad-01),
            var(--c-grad-02)
        );
    }
    .scrollbar-wrapper {
        --padding-x: calc(var(--padding) * 2);
        --padding-y: calc(var(--padding) * 1.5 + var(--radius) * 0.5);

        padding: var(--padding-y) var(--padding-x);
        box-sizing: border-box;
        max-height: var(--scroll-height);
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        scrollbar-gutter: stable;

        &[data-vertical-scrollbar="true"],
        &[data-vertical-scrollbar="false"] {
            animation-fill-mode: forwards;
            animation-duration: 0;
        }
        &[data-vertical-scrollbar="true"] {
            animation-name: padding-right-inc;
        }
        &[data-vertical-scrollbar="false"] {
            animation-name: padding-right-dec;
        }
        &[data-vertical-scrollbar-event="resize"],
        &[data-vertical-scrollbar-event="mutation"] {
            &[data-vertical-scrollbar="true"] {
                animation-duration: var(--duration, 0.25s);
            }
            &[data-vertical-scrollbar="false"] {
                animation-duration: var(--duration, 0.25s);
            }
        }
    }
}

/* animation */
.settings-overlay {
    --translate-move:
        calc(var(--button-size) * 0.1), calc(var(--button-size) * -0.1);

    transform: scale(100%) translate(0);
    transform-origin: top right;

    transition-property: transform, box-shadow;
    transition-duration: var(--duration-step, 0.25s);

    .bg-filter {
        transition-property: backdrop-filter;
        transition-duration: var(--duration-step, 0.25s);
    }
    .bg-fill {
        transition-property: opacity;
        transition-duration: var(--duration-step, 0.25s);
    }
    .scrollbar-wrapper {
        transition-property: opacity, padding;
        transition-duration: var(--duration-step, 0.25s);
    }
}

.innout.settings-innout {
    opacity: 1 !important;

    &.finished,
    &.step.in {
        .settings-overlay {
            transform: scale(100%) translate(0);
            box-shadow:
                var(--shadow-1) var(--c-shadow),
                var(--shadow-2) var(--c-shadow),
                var(--shadow-3) var(--c-shadow);

            .bg-filter {
                backdrop-filter: saturate(200%) hue-rotate(calc(90deg / 16))
                    blur(0.5em);
            }
            .bg-fill {
                opacity: 1;
            }
            .scrollbar-wrapper {
                opacity: 1;
            }
        }
    }
    &.mounted,
    &.step.out {
        .settings-overlay {
            transform: scale(96%) translate(var(--translate-move));
            box-shadow:
                var(--shadow-1) transparent,
                var(--shadow-2) transparent,
                var(--shadow-3) transparent;

            .bg-filter {
                backdrop-filter: blur(0) saturate(100%) hue-rotate(0deg);
            }
            .bg-fill {
                opacity: 0;
            }
            .scrollbar-wrapper {
                opacity: 0;
            }
        }
    }
}

@keyframes padding-right-dec {
    from {
        padding-right: var(--padding-x);
    }
    to {
        padding-right: calc(var(--padding-x) - var(--scrollbar-width));
    }
}

@keyframes padding-right-inc {
    from {
        padding-right: calc(var(--padding-x) - var(--scrollbar-width));
    }
    to {
        padding-right: var(--padding-x);
    }
}
