.settings-form {
    --padding: var(var(--padding), 0.5rem); /* 8px */

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    min-width: 15em;
}

.custom-style-editor {
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    > *:empty {
        display: none;
    }

    textarea {
        border-radius: var(--radius);
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: calc(var(--padding) * 0.5) var(--padding);
        scrollbar-width: thin;
        scrollbar-color: color-mix(in srgb, currentColor, transparent 75%)
            transparent;

        .settings-dropdown & {
            background-color: transparent;
            border-color: var(--primary-color);
        }
    }
}

.all-settings,
.reset-to-defaults {
    button {
        color: var(--primary-color);
        background-color: transparent;
        border-radius: var(--radius);
        font-family: var(--typeface);
        border: none;
        padding: 0;
        line-height: 100%;
        margin-top: var(--padding);
        margin-bottom: calc(var(--padding) * 1.5);
        text-decoration: underline;
        text-decoration-color: color-mix(
            in srgb,
            currentColor,
            transparent 65%
        );
        text-decoration-thickness: calc(0.125rem * 0.5);
        text-underline-offset: 0.125rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}
