.col-gap {
    display: flex;
    flex-direction: column;
    gap: var(--gap-y);
}

.settings-form {
    --padding: var(var(--padding), 0.5em); /* 8px */
    --gap-y: 0.75em;

    min-width: 15em;

    .collapsible {
        transition-property: margin-bottom;
        transition-duration: var(--duration, 0.2s);

        &.collapsed {
            margin-bottom: calc(var(--padding) * -1);
        }
    }
}

.reset-to-defaults {
    button {
        color: var(--c-text);
        cursor: pointer;
        background-color: transparent;
        border: none;
        border-radius: var(--radius);
        font-family: var(--typeface);
        line-height: 100%;
        margin-top: var(--padding);
        margin-bottom: var(--padding);
        text-decoration: underline;
        text-decoration-color: color-mix(
            in srgb,
            currentColor,
            transparent 65%
        );
        text-decoration-thickness: calc(0.125em * 0.5);
        text-underline-offset: 0.125em;
        outline-offset: var(--s-4px);
        padding: 0;

        transition-property:
            opacity, color, text-decoration-color, outline-color;
        transition-duration: var(--duration, 0.2s);

        &:hover {
            opacity: 0.8;
        }
        &.danger:disabled,
        &:disabled {
            color: var(--c-text);
            opacity: 0.4;
            text-decoration-color: transparent;
            cursor: default;
        }
    }
}
