.react-aria-Slider {
    --accent-color: var(--primary-color, currentColor);
    --accent-color-88: color-mix(in srgb, var(--accent-color), transparent 88%);
    --accent-color-76: color-mix(in srgb, var(--accent-color), transparent 76%);
    --accent-color-50: color-mix(in srgb, var(--accent-color), transparent 50%);

    --s-1px: 0.0625rem;
    --s-2px: 0.125rem;
    --s-3px: 0.1875rem;
    --s-4px: 0.25rem;

    display: grid;
    grid-template-areas:
        "label output"
        "track track";
    grid-template-columns: 1fr auto;
    max-width: 300px;

    .react-aria-Label {
        grid-area: label;
        margin-bottom: var(--s-2px);
    }

    .react-aria-SliderOutput {
        grid-area: output;
    }

    .react-aria-SliderTrack {
        grid-area: track;
        position: relative;

        /* track line */
        &:before {
            content: "";
            display: block;
            position: absolute;
            background-color: var(--accent-color);
        }
    }

    .react-aria-SliderThumb {
        --size: calc(var(--s-4px) * 5); /* 20px */

        width: var(--size);
        height: var(--size);
        border-radius: var(--radius);
        background: transparent;
        outline: var(--s-1px) solid var(--accent-color);
        cursor: pointer;
        forced-color-adjust: none;
        transition-property: background-color, border, border-color;
        transition-duration: 0.2s;

        &::after {
            content: "";
            position: absolute;
            top: var(--s-2px);
            bottom: var(--s-2px);
            left: var(--s-2px);
            right: var(--s-2px);
        }

        &:hover {
            background-color: var(--accent-color-88);
        }
        &[data-dragging] {
            background-color: transparent;
        }
        &[data-focused],
        &[data-focus-visible] {
            outline: var(--s-2px) solid var(--accent-color);
        }
    }

    &[data-orientation="horizontal"] {
        flex-direction: column;
        width: 100%;

        .react-aria-SliderTrack {
            height: 1.25rem;
            width: 100%;

            &:before {
                opacity: 0.35;
                height: 0.25rem;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .react-aria-SliderThumb {
            top: 50%;
        }
    }
}
